@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

body {
    background-color: $background_color_blue--950;
    block-size: 100%;
}


.page_wrapper {
    display: grid;
    gap: $gap_block_control--md;

    inline-size: 91.5%;
    
    margin-inline: auto;
    margin-block-end: $margin_block_layout--sm_13;

    @include respond_to(min, m_screen) {
        gap: $gap_block_control--lg;

        inline-size: 93.5%;

        margin-block: $margin_block_layout--lg_23 $margin_block_layout--lg_34;
    }


    @include respond_to(min, l_screen) {
        grid-template-columns: 96px minmax(0, 1fr);

        margin-block: 32px 69px;

        inline-size: 100%;
        max-inline-size: 92.84%;

        &:nth-child(1) {
            grid-column-start: 1;
        }

        &:nth-child(2) {
            grid-column-start: 2;
        }

        &:nth-child(3) {
            grid-column-start: 2;
        }

        &:nth-child(4) {
            grid-column-start: 2;
            grid-row-start: 3;
        }
    }
}


.section {
  min-inline-size: 0;
  
  @include respond_to(min, m_screen) {
    margin-block-end: $margin_block_control--xsm;
  }

  &__title {
    margin-block-end: $margin_block_control--sm;

    @include respond_to(min, m_screen) {
      margin-block-end: $margin_block_control--lg;
    }
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(130px, 200px), 1fr));
  gap: $gap_inline_control--sm;

  @include respond_to(min, m_screen) {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 280px), 1fr));
    grid-column-gap: $gap_inline_control--lg_30;
    grid-row-gap: $gap_block_control--md;
  }

  @include respond_to(min, l_screen) {
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 320px), 1fr));
    grid-column-gap: $gap_inline_control--xlg;
  }


  &__link {
    inline-size: 100%;
  }
}