@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

body {
  background-color: $background_color_blue--950;
  block-size: 100%;
}


.page_wrapper {
  display: grid;
  gap: $gap_block_control--md;

  inline-size: $container_for_page_s_screen;

  margin-inline: auto;
  margin-block-end: $margin_block_layout--sm_13;

  @include respond_to(min, m_screen) {
    gap: $gap_block_control--lg;

    inline-size: $container_for_page_m_screen;

    margin-block: $margin_block_layout--lg_23 $margin_block_layout--lg_34;
  }


  @include respond_to(min, l_screen) {
    grid-template-columns: 96px minmax(0, 1fr);

    margin-block: 32px 69px;

    inline-size: 100%;
    max-inline-size: $container_for_page_l_screen;

    &:nth-child(1) {
      grid-column-start: 1;
    }

    &:nth-child(2) {
      grid-column-start: 2;
    }

    &:nth-child(3) {
      grid-column-start: 2;
    }

    &:nth-child(4) {
      grid-column-start: 2;
      grid-row-start: 3;
    }
  }
}


.section {
  min-inline-size: 0;

  @include respond_to(min, m_screen) {
    margin-block-end: $margin_block_control--xsm;
  }

  @include respond_to(min, l_screen) {
    max-inline-size: $container_for_section_l_screen;
  }

  &__title {
    margin-block-end: $margin_block_control--sm;

    @include respond_to(min, m_screen) {
      margin-block-end: $margin_block_control--lg;
    }
  }
}


.separator {
  display: flex;
  align-items: center;
  gap: $gap_inline_control--xsm;


  &:after {
    content: '';
    inline-size: 2px;
    block-size: 2px;
    background-color: $white--opaque_50;
    border-radius: $radius_pill_full;
  }


  &--bigger:after {
    inline-size: 3px;
    block-size: 3px;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(130px, 200px), 1fr));
  gap: $gap_inline_control--sm;

  @include respond_to(min, m_screen) {
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 280px), 1fr));
    grid-column-gap: $gap_inline_control--lg_30;
    grid-row-gap: $gap_block_control--md;
  }

  @include respond_to(min, l_screen) {
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 320px), 1fr));
    grid-column-gap: $gap_inline_control--xlg;
  }


  &__link {
    inline-size: 100%;
  }
}