@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.bookmark {
    inline-size: $inline_size--sm;
    block-size: $block_size--sm;

    @include respond_to(min, l_screen) {
        inline-size: $inline_size--md;
        block-size: $block_size--md;
    }

    path {
        fill: transparent;

        @include transition(fill, .3s, ease);
    }

    @include link($white);
}

.is_bookmarked.is_bookmarked {
    fill: white;
}