@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;
@use '../../../sass/abstract/utils' as *;

.navbar {
    @extend %flex_center;
    justify-content: space-between;

    background-color: $background_color_blue--900;

    padding: $padding_block_control--sm $padding_inline_control--sm_special;

    //the following code is needed to let NavBar overflow its parent's container at mobile viewport
    inline-size: 100vw;

    position: relative;
    left: 50%;
    right: 50%;

    margin-inline: -50vw;

    @include respond_to(min, m_screen) {
        border-radius: $radius_pill--lg;

        inline-size: 100%;

        left: unset;
        right: unset;

        margin-inline: 0;
    }


    @include respond_to(min, l_screen) {
        grid-row-start: 1;
        grid-row-end: 4;
        block-size: 960px;
        flex-direction: column;

        padding: 33.7px 28px;
    }


    &__logo {
        inline-size: 25px;
        block-size: 20px;

        @include respond_to(min, m_screen) {
            inline-size: $inline_size--sm;
            block-size: 25px;
        }

        @include respond_to(min, l_screen) {
            margin-block-end: $margin_block_control--xxxlg;
            block-size: 28px;
        }
    }


    &__links {
        @extend %flex_center;
        gap: $gap_inline_control--md;

        @include respond_to(min, m_screen) {
            gap: $gap_inline_control--lg;
        }

        @include respond_to(min, l_screen) {
            flex-direction: column;
            gap: $gap_inline_control--xlg;

            margin-block-end: auto; //to push avatar image to the bottom limit of container
        }
    }


    &__link {
        inline-size: 16px;
        block-size: 16px;

        &:hover {
            .navbar__path {
                fill: $red;
            }
        }

        @include respond_to(min, m_screen) {
            inline-size: 20px;
            block-size: 20px;
        }


        @include respond_to(min, m_screen) {
            inline-size: 22px;
            block-size: 22px;
        }
    }


    &__path {
        fill: $fill_blue--500;
        @include transition(fill, .4s, ease);

        &--active {
            fill: $fill_white;
        }
    }


    &__avatar {
        inline-size: $inline_size--xsm;
        block-size: $block_size--xsm;

        outline: 1px solid $white;
        border-radius: $radius_pill_full;

        @include respond_to(min, m_screen) {
            inline-size: $inline_size--sm;
            block-size: $block_size--sm;
        }

        @include respond_to(min, l_screen) {
            inline-size: 40px;
            block-size: 40px;
        }
    }
}