@use './variables.scss' as *;

//Flex classes
%flex_center {
    display: flex;
    align-items: center;
}

%flex_column {
    display: flex;
    flex-direction: column;
}

//Text classes
.text_capitalize {
    text-transform: capitalize;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_red {
    color: $red;
}

.text_white {
    color: $white;
}

.text_white--opaque_50 {
    color: $white--opaque_50;
}

.text_white--opaque_75 {
    color: $white--opaque_75;
}

//component classes
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


.display_contents {
    display: contents;
}