@use '@abstract/variables.scss' as *;
@use '@abstract/mixins.scss' as *;


.media {

    &__title {
        margin-block-end: $margin_block_control--xsm;
    }


    &__body {
        display: flex;
        flex-direction: column;
        gap: $gap_block_control--xsm;

        @include respond_to(min, l_screen) {
            max-inline-size: 92%;
        }
    }


    &__genre {
        display: flex;
        gap: $gap_inline_control--sm;
    }


    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    &__detail {
        display: flex;
        align-items: center;
        gap: $gap_inline_control--xsm;
    }
}